/* Scroller Controls (round)*/
.carousel-control {
    position: absolute;
    top: 43%;
    display: block;
    background-color: rgb(135, 135, 153);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    opacity: 1;
    margin: 36px;
    background-image: none !important;
    opacity: 0.5
}
.carousel-control:hover{
    opacity: 0.6;
}
.carousel-control span {
    top: 33% !important;
    margin-top: -15px !important;
    margin-bottom: 15px !important;
    font-size: 30px;
    color: white;
    text-shadow: none;
}
/* Scroller Caption (right 40%)*/
#myCarousel {
    height: 100%;
}
.carousel-caption {
    display: block;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    right: 0%;
    left: 60%;
    height: calc(100% - 51px);
    bottom: 0;
    opacity: 1;
}
.carousel-control {
    z-index: 99;
}